{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block content %}
    <form method="POST">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Age: <input type="number" name="age"><br>
        <input type="submit" value="Register">
        <p>About Me Page <a href="{{ url_for('aboutme') }}" class="w3-container w3-teal">MyPage</a></p>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </form>
{% endblock %}
