{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block header %}Welcome{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-blue-grey">
    <h2>Welcome {{ username }}, you are {{ age }} years old.</h2>
    <a href="{{ url_for('logout') }}">Logout</a><br>
    <a href="{{ url_for('chat') }}">Use ChatBot</a><br>
{% endblock %}


<!-- Will use JINJA templating to display the username of the user that is logged in -->
<!-- When you enter the welcome page, it will take your username and age from the database as well as provide links for the logout and chat html routes -->